# File system
.DS_Store

# Node
node_modules

# Env
.env

# Eslint
.eslintcache

# build/deploy
generated
build
subgraph.yaml
/src/utils/address.ts

# matchstick
tests/.bin/
tests/.docker/
tests/.latest.json
